### python(jupyter lab)과 mysql 연결하기

In [1]:
!pip install pymysql
# !pip install cx_Oracle

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.3 MB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

##### 
* user: user name
* passwd: 설정한 패스워드
* host: DB가 존재하는 host
* db: 연결할 데이터베이스 이름
* charset: 인코딩 설정

##### 익숙한 데이터프레임 형태로 결과를 변환할 수 있도록<br> 딕셔너리 형태로 결과 반환해주는 DictCursor를 사용 (column 명까지 쉽게 반환)<br>DictCursor 가 아닌 Cursor를 사용하게 되면 tuple로 반환

* execute(): Query 실행
* fetchall():	모든 데이터를 한 번에 가져올 때 사용
* fetchone():	한 번 호출에 하나의 행만 가져올 때 사용
* fetchmany(n):	n개만큼의 데이터를 가져올 때 사용

In [6]:
import pandas as pd
import pymysql
# import cx_Oracle as oci #oracle db를 이용할 경우 (oracle client 추가 설치 필요)

# table명: 
conn = pymysql.connect(
    host='localhost', user='root', password="mysql",
    charset='utf8', db='test')

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = "select * from olist_customers_dataset;"
cursor.execute(sql)
result = cursor.fetchall()

pd.DataFrame(result)
# conn.close()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,03937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,06764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,06703,cotia,SP

In [7]:
oci